<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/styles/cover.css">
  <link rel="stylesheet" type="text/css" href="static/styles/mystyle.css">
</head>
<body>
  {% set msgs = get_flashed_messages() %}
  {% for each in msgs %}
    <div class="alert alert-primary" role="alert">
      {{ each }}
    </div>
  {% endfor %}

  <nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" href="../">Cookie Clicker</a>
    <ul class="navbar-nav">
      <li><a class="nav-link" href="../trial">Time trials</a></li>
      <li><a class="nav-link" href="../leaderboards">View leaderboards</a></li>
      <li><a class="nav-link" href="../help">Help/FAQs</a></li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li><a class="nav-link" href="../profile">Profile</a></li>
      <li><a class="nav-link" href="../logout">Logout</a></li>
    </ul>
  </nav>

  {% block content %}

  {% endblock content %}
</body>
</html>
