{% extends "base.html" %}

{% block content %}
  <a href="../logout"><input type="button" value="Logout"></a>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="col1">
          <div style="height:30%;" id="filler"></div>
          <div class="wrapper">
            <img src="static/light.png" class="light-rays">
            <div class="cookie" id="clickbox">
              <img src="static/cookie.png" class="cookie-img" id="cookie-img">
            </div>
          </div>
          </div>
        </div>
      <div class="col-sm-5">
        row2
      </div>
      <div class="col-sm-3">
        row3
      </div>
    </div>
  <script src="../static/scripts/clicker.js"></script>
  </div>
{% endblock %}
