{% extends "base.html" %}

{% block content %}
<h2>How do perks work?</h2>
<p>Perks can be purchased from the shop on the right side of the main page. Perks
   come in "tiers". Higher tiers of perks cost more cookies to purchase. It is on you
   to spend your cookies wisely to earn the most amount of cookies back.</p><hr>

<h2>What are time trials?</h2>
<p>Time trials are where you pick an amount of time, then get as many clicks as possible
   in that time frame. As of now only 15 and 30 second trials are available. Aside from
   them showing up on your profile, you can also view the time trial stats of other
   users on this website on the leaderboards page. Don't try to cheat - you will not
   be allowed to.</p><hr>

<h2>How is the speedrun.com API used?</h2>
<p>On the bottom of the leaderboards page is a list of one-million click runs by various
   users of speedrun.com. This data is retrieved from <a href="https://www.speedrun.com/cclicker">this page</a>.
   Do you have what it takes to defeat them?</p>
{% endblock %}
