{% extends "base.html" %}

{% block content %}
<br>
<h4>15 second time trials</h4>
<table class="table table-hover table-bordered">
  <thead class="thead-dark"><tr>
    <th>Username</th>
    <th>Amount of clicks</th>
  </tr></thead>
  {% for run in leaderboard_15_sec %}
  <tr>
    <td>{{run['username']}}</td>
    <td>{{run['seconds']}}</td>
  </tr>
  {% endfor %}
</table>

<br><br><br>

<h4>30 second time trials</h4>
<table class="table table-hover table-bordered">
  <thead class="thead-dark"><tr>
    <th>Username</th>
    <th>Amount of clicks</th>
  </tr></thead>
  {% for run in leaderboard_30_sec %}
  <tr>
    <td>{{run['username']}}</td>
    <td>{{run['seconds']}}</td>
  </tr>
  {% endfor %}
</table>

<br><br><br>

<h4>How long players on speedrun.com took to click the cookie a million times</h4>
<table class="table table-hover table-bordered">
  <thead class="thead-dark"><tr>
    <th>Placing</th>
    <th>Player</th>
    <th>Time (seconds)</th>
  </tr></thead>
  {% for run in runs %}
  <tr>
    <td>{{run['place']}}</td>
    <td>{{run['player']}}</td>
    <td>{{run['time']}}</td>
  </tr>
  {% endfor %}
</table>

</div>
{% endblock content %}
