{% extends "base.html" %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-right">
        <a class="nav-link active" href="/">Home</a>
      </nav>
    </div>
  </header>
<h3>Compare to the accomplishments of others on speedrun.com!</h3>
<h4>How long these players took to click the cookie a million times: </h4>
<table>
  <tr>
    <th>Placing</th>
    <th>Player</th>
    <th>Time (seconds)</th>
  </tr>
  {% for run in runs %}
  <tr>
    <td>{{run['place']}}</td>
    <td>{{run['player']}}</td>
    <td>{{run['time']}}</td>
  </tr>
  {% endfor %}
</table>

</div>

{% endblock content %}
