<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles/cover.css">
    <link rel="stylesheet" type="text/css" href="static/styles/mystyle.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  {% set msgs = get_flashed_messages() %}
  {% for each in msgs %}
    <h4> {{ each }} </h4>
  {% endfor %}

  <h3>Sign in to access this website</h3>
  <form action="/login" method="post">
    Username: <input type="text" name="user" required="required">
    <br><br>
    <!-- &nbsp; is a non-breaking space -->
    Password:&nbsp; <input type="password" name="pw" required="required">
    <br><br>
    <input type="submit" values="Submit">
    <br><br>
  </form>

  <a href=/signup>Don't have an account? Create one now.</a>
</body>
</html>
