{% extends "base.html" %}

{% block content %}

  <h1>Welcome, {{ name }}! </h1>

  <a href="/changepw" class="btn btn-warning">Change password</a>
  <br><br>

  <table class="table table-hover table-bordered">
    <thead class="thead-dark"><tr>
      <th>Stat</th>
      <th>Details</th>
    </tr></thead>
    <tr>
      <td>Cookies</td>
      <td>{{ cookies }}</td>
    </tr>
    <tr>
      <td>Total amount of cookies you've earned</td>
      <td>{{ total_cookies }}</td>
    </tr>
    <tr>
      <td>Most clicks during a 15 second time trial</td>
      <td>{{ trial_15_sec }}</td>
    </tr>
    <tr>
      <td>Most clicks during a 30 second time trial</td>
      <td>{{ trial_30_sec }}</td>
    </tr>
  </table>

  <br><br><br>

  <table class="table table-hover table-bordered">
    <thead class="thead-dark"><tr>
      <th>Achievement</th>
      <th>Date earned</th>
  </table>
{% endblock content %}
