{% extends "base.html" %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-right">
        <a class="nav-link active" href="/">Home</a>
      </nav>
    </div>
  </header>

  <main role="main" class="px-3">
    <h1>Welcome {{name}} </h1>
    <h2> Cookies in bank:<br>
    Cookies baked:<br>
    Total time:<br>
    Golden cookies: <br>.</h2>
    <p class="lead"></p>
    <p class="lead">
      <a href="/clicker" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Back to game</a>
    </p>
  </main>

</div>

{% endblock content %}
