<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles/cover.css">
    <link rel="stylesheet" type="text/css" href="static/styles/mystyle.css">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  {% set msgs = get_flashed_messages() %}
  {% for each in msgs %}
    <div class="alert alert-primary" role="alert">
      {{ each }}
    </div>
  {% endfor %}

  <h3>Create your account</h3>
  <form action="/register" method="post">
    Username: <input type="text" name="user" required="required">
    <br><br>
    Password: <input type="password" name="pw" required="required">
    <br><br>
    Confirm password: <input type="password" name="confirmpw" required="required">
    <br><br>
    <input type="submit" values="Submit">
    <br><br>
  </form>

  <a href="/">Go back</a>
</body>
</html>
