<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles/cover.css">
    <link rel="stylesheet" type="text/css" href="static/styles/mystyle.css">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  {% set msgs = get_flashed_messages() %}
  {% for each in msgs %}
    <div class="alert alert-primary" role="alert">
      {{ each }}
    </div>
  {% endfor %}

  <div class="jumbotron">
    <h1 class="display-4">Welcome to Cookie Clicker!</h1>
    <p class="lead">Earn cookies, earn ways to make cookies faster, and compete with others!</p>
  </div>

  <h3 class="font-weight-bold">Create your account</h3>
  <form action="/register" method="post">
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="user" required="required" class="form-control" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="pw" required="required" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <label>Confirm password</label>
      <input type="password" name="confirmpw" required="required" class="form-control" placeholder="Same password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <br>
  <a class="addmargin" href="/">Go back</a>
</body>
</html>
