{% extends "base.html" %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-right">
        <a class="nav-link active" href="/">Home</a>
      </nav>
    </div>
  </header>

  <main role="main" class="px-3">
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Autoclicker</a>
      <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">50 cookies</a>
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Autoclicker2</a>
      <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">100 cookies</a>
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Autoclicker3</a>
      <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">250 cookies</a>
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Autoclicker</a>,
      <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">200 cookies</a>
    </p>
    <p class="lead">
      <a href="/clicker" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Back to game</a>
    </p>
  </main>

</div>

{% endblock content %}
