{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="col-3">
      <br>
      <div style="height:30%;" id="filler"></div>
      <div class="cookie" id="clickbox">
        <img src="static/cookie.png" class="cookie-img" id="cookie-img">
      </div>
      <br>

      <div class="rounded shadow p-3 text-left mb-2">
        <span class="h1" id="cookie-num">0</span>
        <span class="h5">cookies</span>
      </div>
      <br>

      <div class="rounded shadow p-3 text-left mb-2">
        <span class="h1" id="timer">15</span>
        <span class="h5">sec</span>
      </div>
      <br>

      <div class="form-group">
        <label>Seconds for the trial:</label>
        <select class="form-control" id="trialtype">
          <option>15</option>
          <option>30</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary" id="starttimer">Start trial</button>
  </div>
  <script src="static/scripts/trial.js"></script>
</div>
{% endblock %}
